.parallaxSection {
  position: relative;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/Vivero-9.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Añade esta clase para la animación del logo */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.logoAnimation {
  animation: fadeIn 1.5s ease-out forwards;
}
/* Versión animada del mesh gradient */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.meshGradientAnimated {
  background: radial-gradient(circle at 20% 30%, #a8d0db, transparent 50%),
    radial-gradient(circle at 70% 20%, #b0927a, transparent 60%),
    radial-gradient(circle at 10% 90%, #2d4739, transparent 35%),
    radial-gradient(circle at 85% 70%, #a8201a, transparent 30%),
    linear-gradient(135deg, #b0927a, #170312);
  background-size: 300% 300%;
  animation: gradientAnimation 15s ease infinite;
}

/* Mesh Gradient Estático */
.meshGradient {
  background: radial-gradient(circle at 20% 30%, #a8d0db, transparent 50%),
    radial-gradient(circle at 70% 20%, #b0927a, transparent 60%),
    radial-gradient(circle at 10% 90%, #2d4739, transparent 35%),
    radial-gradient(circle at 85% 70%, #a8201a, transparent 30%),
    linear-gradient(135deg, #b0927a, #170312);
}
